body{
    height: 100px;
    background-image: url("back.jpg");
    
    
}
.head{
    color:rgb(195, 132, 207);
    position: absolute;
    left: 5%;
    top: 1%;
}
.head:hover{
    color: teal;
}
.para{
    font-size: 20px;
    color:white;
    position: fixed;
    right:5%;
    top:65%;
    
}
.name{
    color:rgb(243, 128, 128);
    font-size: 25px;
}
.button{
  background-color: #007f8b;
  border: none;
  color: white;
  border-radius:8px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover{
    background-color:rgb(117, 28, 110);
}
.b1{
  position: absolute;
  top:45%;
  left:10%;
}
.b2{
  position: absolute;
  top:45%;
  left:20%;
}


div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: thistle;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }